<div class="container-fluid">
  <h3 id="titleDecoration">Selecciona tu producto</h3>
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="thumbnail">
            <img src="..." alt="...">
          </a>
          <p>NOMBRE PRODUCTO</p>
          <p>MARCA PRODUCTO</p>
          <p>$9.990</p>
          <p>STOCK DISPONIBLE</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="thumbnail">
            <img src="..." alt="...">
          </a>
          <p>NOMBRE PRODUCTO</p>
          <p>MARCA PRODUCTO</p>
          <p>$9.990</p>
          <p>STOCK DISPONIBLE</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <a class="thumbnail">
            <img src="..." alt="...">
          </a>
          <p>NOMBRE PRODUCTO</p>
          <p>MARCA PRODUCTO</p>
          <p>$9.990</p>
          <p>STOCK DISPONIBLE</p>
        </div>
      </div>
    </div>
  </div>
</div>