/* letras #494949*/
.shipping{
	background-color: black;
	color: white;
}

.p-shipping{
	color: white;
	margin-top: 0.6em;
}

.p-shipping:hover{
	color: teal;
}

 .logo{
 	margin-top: 1em;
 	width: 15em;
 }

 #custom-search-input{
 	margin-top: 1em;
    border: solid 0.2em #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .fa-search{
    font-size: 23px;
}

ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

li{ 
	margin-top:0.5em;
	padding-left: 2em;
	font-size: 15px;
	display: inline-block;
}

a{
	color: #fff;
}

button{
	margin-top: 0.4em;
	background-color: black;
}